.home-container {
  text-align: center;
  padding: 2rem;
}

.home-actions button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.home-actions button:hover {
  background-color: #f0f0f0;
}


h1 {
  font-size: 2.5rem;
  color: #04e904;
  text-align: center;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  color: #09f309;
  text-align: center;
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
  color: #0ae70a;
  text-align: center;
  margin-bottom: 20px;

}
